*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-actions-cont {
  height: 3rem;
  background-color: lightgreen;
}

.cellproper-actions-cont {
  height: 3rem;
  background-color: lightcyan;
}

.formula-actions-cont {
  height: 3rem;
  background-color: lightcoral;
}

.sheet-actions-count {
  height: 3rem;
  background-color: lightseagreen;
}

.grid-cont {
  height: calc(100vh - 3rem - 3rem - 3rem - 3rem);
}
